/*---------------variabler---------------------*/
/*----------------Mixin------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #FBFDFF;
  font-family: Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: #0E1A24;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header ul li {
  margin-right: 1.5rem;
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #FBFDFF;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------ scene 0--------------*/
.velkomst {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #FBFDFF;
}
.velkomst h1 {
  text-align: center;
  margin-top: 2rem;
}
.velkomst p {
  line-height: 1.8rem;
  text-align: left;
  margin-top: 2rem;
}
.velkomst a {
  background-color: #FBFDFF;
  padding: 0.5rem;
  border: 2px solid #A4A4A4;
  border-radius: 5px;
  color: #0E1A24;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.velkomst a:hover {
  background-color: #D9D9D9;
}
.velkomst a {
  display: block;
  width: 150px;
  margin: 2rem auto;
}

/*------------ scene 1--------------*/
.indbakke {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 180px 130px 250px 40px;
  grid-template-areas: "indbakkeTekst indbakkeTekst" "logo logo" "mailnav mails" "footer footer";
}
.indbakke .indbakkeTekst {
  grid-area: indbakkeTekst;
  background-color: #FBFDFF;
}
.indbakke .indbakkeTekst p {
  max-width: 600px;
  margin: 3rem auto;
}
.indbakke .logo {
  grid-area: logo;
  background-color: #FBFDFF;
  border: 3px solid #A4A4A4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.indbakke .logo img {
  width: 70%;
  height: auto;
  margin-left: 1rem;
}
.indbakke .mailnav {
  grid-area: mailnav;
  border-right: 3px solid #A4A4A4;
  border-left: 3px solid #A4A4A4;
  padding-top: 2rem;
}
.indbakke .mailnav ul {
  list-style-type: none;
}
.indbakke .mailnav ul li {
  color: #A4A4A4;
  margin-bottom: 1rem;
  cursor: pointer;
}
.indbakke .mailnav ul li:hover {
  color: #0E1A24;
}
.indbakke .mails {
  grid-area: mails;
}
.indbakke .mails ul {
  list-style-type: none;
  margin: 2rem 0;
}
.indbakke .mails ul li {
  color: #D9D9D9;
  margin-bottom: 1rem;
}
.indbakke .mails ul li i {
  margin-right: 0.5em;
}
.indbakke .mails ul li li:hover {
  color: #0E1A24;
}
.indbakke .mails {
  border-right: 3px solid #A4A4A4;
}
.indbakke .mails a {
  text-decoration: none;
  color: #0E1A24;
}
.indbakke .mails a:hover {
  color: #1162A3;
  text-decoration-color: #1162A3;
  text-decoration: underline;
}
.indbakke .mails .emne {
  margin-left: 2rem;
}
.indbakke .mails .dato {
  margin-left: 2rem;
}
.indbakke .mails i {
  color: #1162A3;
}
.indbakke .footer {
  grid-area: footer;
  background-color: #D4ECFF;
  border: 3px solid #A4A4A4;
}
.indbakke .footer p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */