@charset "UTF-8";
/*---------------variabler---------------------*/
/*----------------Mixin------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #FBFDFF;
  font-family: "Verdana", sans-serif;
  margin: 0;
}

header {
  background-color: #0E1A24;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header ul li {
  margin-right: 1.5rem;
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #FBFDFF;
}

img {
  max-width: 100%;
  height: auto;
}

.resultat {
  max-width: 500px;
  min-width: 150px;
  height: auto;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1.5rem auto;
}

.info {
  margin: 3rem auto;
  padding-bottom: 3rem;
  min-width: 400px;
  max-width: 800px;
  border-bottom: solid 1px #A4A4A4;
}
.info p {
  text-align: left;
}

.seMail {
  max-width: 1000px;
  margin: 0 auto;
}
.seMail h2 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.seMail .mailinfo {
  margin: 2rem auto 2rem 0.2rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "ikon afsender" "ikon tidspunkt";
}

.skidtsvar {
  color: #FE1145;
  text-align: center;
}

.godtsvar {
  color: #1162A3;
  text-align: center;
}

.oksvar {
  color: #A4A4A4;
  text-align: center;
}

.morelink {
  color: #0E1A24;
}
.morelink:hover {
  color: #1162A3;
}

.ikon {
  grid-area: ikon;
  font-size: 2rem;
  color: #0519b0;
}

.afsender {
  grid-area: afsender;
}

.tidspunkt {
  grid-area: tidspunkt;
  color: #A4A4A4;
}

.tekst {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.tekst .valgtekst {
  border: solid 1px #A4A4A4;
  border-radius: 8px;
  max-width: 30%;
  min-width: 250px;
  height: 300px;
  background-color: #D4ECFF;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}
.tekst .valgtekst p {
  margin-bottom: 2rem;
  max-width: 400px;
  text-align: left;
}
.tekst .valgtekst a {
  background-color: #FBFDFF;
  padding: 0.5rem;
  border: 2px solid #A4A4A4;
  border-radius: 5px;
  color: #0E1A24;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.tekst .valgtekst a:hover {
  background-color: #D9D9D9;
}
.tekst .valgtekst a {
  display: block;
  max-width: 250px;
  margin: 1rem auto;
}

/*---------------kun for læs mere siden-----------------------*/
.readmoremain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.readmoremain .moreinfo {
  margin: 2rem auto;
  max-width: 600px;
}
.readmoremain .moreinfo h1 {
  color: #1162A3;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 22px;
}
.readmoremain .moreinfo h2 {
  color: #0E1A24;
  font-size: 1.2rem;
}
.readmoremain .moreinfo p {
  line-height: 1.8rem;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

/*------------ scene 0--------------*/
.velkomst {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  display: none;
  background-color: #FBFDFF;
}
.velkomst h1 {
  text-align: center;
  margin-top: 2rem;
}
.velkomst p {
  line-height: 1.8rem;
  text-align: left;
  margin-top: 2rem;
}
.velkomst a {
  background-color: #FBFDFF;
  padding: 0.5rem;
  border: 2px solid #A4A4A4;
  border-radius: 5px;
  color: #0E1A24;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.velkomst a:hover {
  background-color: #D9D9D9;
}
.velkomst a {
  display: block;
  width: 150px;
  margin: 2rem auto;
}

/*------------ scene 1--------------*/
.indbakke {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 180px 130px 250px 40px;
  grid-template-areas: "indbakkeTekst indbakkeTekst" "logo logo" "mailnav mails" "footer footer";
}
.indbakke .indbakkeTekst {
  grid-area: indbakkeTekst;
  background-color: #FBFDFF;
}
.indbakke .indbakkeTekst p {
  max-width: 600px;
  margin: 3rem auto;
}
.indbakke .logo {
  grid-area: logo;
  background-color: #FBFDFF;
  border: 3px solid #A4A4A4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.indbakke .logo img {
  width: 70%;
  height: auto;
  margin-left: 1rem;
}
.indbakke .mailnav {
  grid-area: mailnav;
  border-right: 3px solid #A4A4A4;
  border-left: 3px solid #A4A4A4;
  padding-top: 2rem;
}
.indbakke .mailnav ul {
  list-style-type: none;
}
.indbakke .mailnav ul li {
  color: #A4A4A4;
  margin-bottom: 1rem;
  cursor: pointer;
}
.indbakke .mailnav ul li:hover {
  color: #0E1A24;
}
.indbakke .mails {
  grid-area: mails;
}
.indbakke .mails ul {
  list-style-type: none;
  margin: 2rem 0;
}
.indbakke .mails ul li {
  color: #D9D9D9;
  margin-bottom: 1rem;
}
.indbakke .mails ul li i {
  margin-right: 0.5em;
}
.indbakke .mails ul li li:hover {
  color: #0E1A24;
}
.indbakke .mails {
  border-right: 3px solid #A4A4A4;
}
.indbakke .mails a {
  text-decoration: none;
  color: #0E1A24;
}
.indbakke .mails a:hover {
  color: #1162A3;
  text-decoration-color: #1162A3;
  text-decoration: underline;
}
.indbakke .mails .emne {
  margin-left: 2rem;
}
.indbakke .mails .dato {
  margin-left: 2rem;
}
.indbakke .mails i {
  color: #1162A3;
}
.indbakke .footer {
  grid-area: footer;
  background-color: #D4ECFF;
  border: 3px solid #A4A4A4;
}

/*------------ scene 2 --------------*/
.glsmail .mailcontent {
  background-color: #D9D9D9;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.glsmail .mailcontent .besked {
  background-color: #FBFDFF;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}
.glsmail .mailcontent .besked p {
  padding: 1rem 4rem;
  text-align: left;
}
.glsmail .mailcontent .besked .glsboks {
  margin: 1rem auto;
  border-radius: 10px;
}
.glsmail .mailcontent .besked a {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FBFDFF;
  background-color: #0519b0;
  padding: 1rem;
  border-radius: 50px;
  margin: 1rem auto;
}
.glsmail .mailcontent .besked ul {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.glsmail .mailcontent .besked ul li {
  color: #0519b0;
  margin-right: 1rem;
  list-style-type: none;
}
.glsmail .mailcontent .besked .mailfooter {
  font-size: 10px;
  line-height: 0.3rem;
  font-weight: lighter;
  color: #A4A4A4;
  display: block;
  margin: 0.5rem auto;
  border-top: solid 1px #A4A4A4;
}
.glsmail .mailcontent .besked .mailfooter p {
  text-align: center;
  white-space: nowrap;
}
.glsmail {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 3--------------*/
.glsmailispam {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.glsmailispam p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.glsmailispam h2 {
  color: #1162A3;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.glsmailispam {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 4--------------*/
.glsmailtjek {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.glsmailtjek p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.glsmailtjek {
  display: none; /*-----------------------------------------------------------------------*/
}
.glsmailtjek h2 {
  color: #A4A4A4;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.glsmailtjek {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 5--------------*/
.glsmailhacket {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.glsmailhacket p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.glsmailhacket h2 {
  color: #FE1145;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.glsmailhacket {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 6--------------*/
.tv2mail {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 7--------------*/
.tv2ispam {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.tv2ispam p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.tv2ispam h2 {
  color: #1162A3;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.tv2ispam {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 8--------------*/
.tv2mailtjek {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.tv2mailtjek p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.tv2mailtjek h2 {
  color: #A4A4A4;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.tv2mailtjek {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 9--------------*/
.tv2mailhacket {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.tv2mailhacket p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.tv2mailhacket h2 {
  color: #FE1145;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.tv2mailhacket {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 10--------------*/
.mofibomail {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 11--------------*/
.mofibomailispam {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.mofibomailispam p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.mofibomailispam h2 {
  color: #FE1145;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.mofibomailispam {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 12--------------*/
.mofibomailtjek {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.mofibomailtjek p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.mofibomailtjek h2 {
  color: #A4A4A4;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.mofibomailtjek {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 13--------------*/
.mofibomailsand {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.mofibomailsand p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.mofibomailsand h2 {
  color: #1162A3;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.mofibomailsand {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 14--------------*/
.almbrandmail {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 15--------------*/
.almbrandmailispam {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.almbrandmailispam p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.almbrandmailispam h2 {
  color: #FE1145;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.almbrandmailispam {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 16--------------*/
.almenbrandmailtjek {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.almenbrandmailtjek p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.almenbrandmailtjek h2 {
  color: #A4A4A4;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.almenbrandmailtjek {
  display: none; /*-----------------------------------------------------------------------*/
}

/*------------ scene 17--------------*/
.almenbrandmailsand {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.almenbrandmailsand p {
  margin-bottom: 1.2rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.almenbrandmailsand h2 {
  color: #1162A3;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.almenbrandmailsand {
  display: none; /*-----------------------------------------------------------------------*/
}/*# sourceMappingURL=style.css.map */